<form class="form">
        <div class="form-group">
            <label>Nutrition value</label>
            <input type="number" class="form-control" placeholder="Enter nutrition value" name="nutritionValue" [(ngModel)]="mangosModel.mango.nutritionValue">
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="text" class="form-control" placeholder="Enter weight" name="weight" [(ngModel)]="mangosModel.mango.weight">
        </div>
        <div class="form-select">
            <label>Color</label> 
            <select name="color" class="form-control" [(ngModel)]="mangosModel.mango.color">
                <option *ngFor="let color of colors" [ngValue]="color.value" >{{color.label}}</option>   
            </select>
        </div>    
        <button type="button" (click) = "editMango()" class="btn btn-default">Edit Mango</button>
    </form>