<div>
    <p class="bold">Nutrition value: {{mangosModel.mango.nutritionValue}}</p>
    <p class="bold">Weight: {{mangosModel.mango.weight}}</p>
    <p class="bold">Color: <button [ngStyle]="{'background-color': mangosModel.mango.color, 'color':'white'}" class="btn">^_^</button></p>
</div>