<div>
    <h1>MANGO INFO</h1>
</div>
<ul class="nav nav-pills">
    <li role="presentation"><a [routerLink]="('/mangos/'+ id+ '/info')">INFO</a></li>
    <li role="presentation"><a [routerLink]="('/mangos/'+ id+ '/edit')">EDIT</a></li>
</ul>
<router-outlet></router-outlet>