<h3>Search by one of the fields </h3>

<table>
  <tr>
    <td *ngFor="let i of tableConfig">
      <span *ngIf="i.key!='id'">Search by {{i.label}}</span></td>
  </tr>
  <tr>
    <td  *ngFor="let i of tableConfig" >
      <input class="form-control"
             *ngIf="i.key!='id'"
             [type]="i.typeof"
             [placeholder]="'Enter '+i.label"
             [(ngModel)]="filterInput[i.key]"
             (focus)="focus(i.key)">
    </td>
  </tr>
</table>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>

        <th scope="col" *ngFor="let th of tableConfig">{{th.label}}</th>

        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mango of mangosModel.mangos | search:filterInput[searchKey]:searchKey">
        <td><button class="btn btn-info" (click)="viewMangoData(mango.id)">View</button></td>

        <td *ngFor="let td of tableConfig">
          <span *ngIf="td.type == 'text'">{{mango[td.key]}}</span>
          <button *ngIf="td.type == 'color'" [ngStyle]="{'background-color': mango.color}" class="btn"></button>
        </td>

        <td><button class="btn btn-success" (click)="editMangoData(mango.id)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteMango(mango.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
