<form class="form">
    <div class="form-group">
        <label>Nutrition value</label>
        <input type="number" class="form-control" placeholder="Enter nutrition value" name="nutritionValue" [(ngModel)]="mango.nutritionValue">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input type="text" class="form-control" placeholder="Enter weight" name="weight" [(ngModel)]="mango.weight">
    </div>
    <div class="form-select">
        <label>Color</label> 
        <select name="color" class="form-control" [(ngModel)]="mango.color">
            <option ngValue="" disabled selected>Choose color...</option>
            <option *ngFor="let color of colors" [ngValue]="color.value">{{color.label}}</option>
        </select>
    </div>    
    <button type="button" (click) = "addMango()" class="btn btn-default">Add Mango</button>
</form>